<div class="dashboard-charts" class="ml-5 m-w-full m-h-full transition-all">
  <div class="grid-wrappper">
    <div class="chart-grid" class="grid gap-x-[10px] gap-y-[10px] mr-5 h-[95v]">

        <!-- @Grid 1-->
      <div
        class="chart-grid1"
        class="grid col-start-1 col-end-13 row-start-1 row-end-2"
      >
        <ngx-charts-number-card
          [scheme]="scheme"
          [results]="single2"
          [cardColor]="cardColor"
          [textColor]="textColor"
          (select)="onSelect($event)"
        >
        </ngx-charts-number-card>
      </div>

      <!-- @Grid 2-->
      <div
        class="chart-grid2"
        class="grid col-start-1 col-end-9 row-start-2 row-end-6"
      >
        <div
          class="container-chart"
          class="grid rounded mb-[10px] drop-shadow-lg m-w-full"
        >
          <span class="chart-title" class="grid justify-center pt-[10px]"
            >Line Chart</span
          >
          <ngx-charts-line-chart
            [scheme]="scheme"
            [legend]="legend"
            [gradient]="gradient"
            [results]="data"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showYAxisLabel]="showYAxisLabel"
            [autoScale]="autoScale"
            [yAxisLabel]="yAxisLabel"
            [timeline]="true"
            (select)="onSelect($event)"
          >
          </ngx-charts-line-chart>
        </div>
      </div>

      <!-- @Grid 3-->
      <div
        class="chart-grid3"
        class="grid col-start-1 col-end-4 row-start-6 row-end-[10]"
      >
        <div
          class="container-chart"
          class="grid rounded mb-[10px] drop-shadow-lg m-w-full"
        >
          <span class="chart-title" class="grid justify-center pt-[10px]"
            >Doughnut Chart</span
          >
          <ngx-charts-pie-chart
            [scheme]="scheme"
            [results]="single"
            [labels]="showLabels"
            [doughnut]="isdoughnut"
          >
          </ngx-charts-pie-chart>
          <!-- <button mat-raised-button class="button-design" type="button" (click)="toggle()">Toggle</button> -->
        </div>
      </div>
      <div
        class="chart-grid41"
        class="grid col-start-9 col-end-13 row-start-2 row-end-6 drop-shadow-lg"
      >
        <div
          class="container-chart"
          class="grid rounded mb-[10px] drop-shadow-lg m-w-full"
        >
          <span class="chart-title" class="grid justify-center pt-[10px]"
            >Polar Area Chart</span
          >
          <ngx-charts-polar-chart
            [scheme]="scheme"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [xAxisLabel]="xPolarLabel"
            [yAxisLabel]="yPolarLabel"
            [results]="data"
            [curve]="curve"
            (select)="onSelect($event)"
          >
          </ngx-charts-polar-chart>
          <!-- <button mat-raised-button type="button" class="polar-btn" (click)="toggleP()">Toggle Interpolation</button> -->
        </div>
      </div>
      <div
        class="chart-grid42"
        class="grid col-start-4 col-end-9 row-start-6 row-end-[10]"
      >
        <div
          class="container-chart"
          class="grid rounded mb-[10px] drop-shadow-lg m-w-full"
        >
          <span class="chart-title" class="grid justify-center pt-[10px]"
            >Pie Chart</span
          >
          <ngx-charts-pie-chart
            [scheme]="scheme"
            [results]="single"
            [labels]="showLabels"
            [gradient]="gradient"
            [explodeSlices]="true"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
      <div
        class="chart-grid43"
        class="grid col-start-9 col-end-13 row-start-6 row-end-[10]"
      >
        <div
          class="container-chart"
          class="grid rounded mb-[10px] drop-shadow-lg m-w-full"
        >
          <span class="chart-title" class="grid justify-center pt-[10px]"
            >Pie Chart</span
          >
          <ngx-charts-pie-chart
            [scheme]="scheme"
            [results]="single"
            [labels]="showLabels"
            [gradient]="gradient"
            [explodeSlices]="true"
            [doughnut]="isdough"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
  </div>
</div>
