<body class="antialiased bg-gradient-to-br from-slate-700 to-black">
          <div class="container px-6 mx-auto">
                    <div
                              class="flex flex-col h-screen text-center md:text-left md:flex-row justify-evenly md:items-center">
                              <div class="flex flex-col w-full">
                                        <div></div>
                                        <h1 class="text-5xl font-hairline text-gray-500">Invent Time</h1>
                                        <p class="w-8/12 mx-auto text-gray-500 md:mx-2">
                                                  Create better workflows and be able to see solutions visually
                                        </p>
                              </div>
                              <div class="w-full mx-auto md:w-full lg:w-9/12 md:mx-0">
                                        <div class="flex flex-col w-full p-10 bg-white shadow-xl rounded-xl">
                                                  <form action="" class="w-full">
                                                            <div id="input" class="flex flex-col w-full my-5">
                                                                      <label for="username"
                                                                                class="mb-2 text-gray-500">Username</label>
                                                                      <input type="text" id="username"
                                                                                placeholder="Please insert your username"
                                                                                class="px-4 py-3 placeholder-gray-300 border-2 border-gray-100 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-green-600 focus:shadow-lg" />
                                                            </div>
                                                            <div id="input" class="flex flex-col w-full my-5">
                                                                      <label for="password"
                                                                                class="mb-2 text-gray-500">Password</label>
                                                                      <input type="password" id="password"
                                                                                placeholder="Please insert your password"
                                                                                class="px-4 py-3 placeholder-gray-300 border-2 border-gray-100 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-green-600 focus:shadow-lg" />
                                                            </div>
                                                            <div id="button" class="flex flex-col w-full my-5">
                                                                      <button type="button"
                                                                                class="w-full py-4 transition-all rounded-lg text-slate-100 bg-slate-600 duration-400 hover:text-slate-500 hover:-translate-y-">
                                                                                <div
                                                                                          class="flex flex-row items-center justify-center">
                                                                                          <div class="mr-2"></div>
                                                                                          <div class="font-bold">Sign In
                                                                                          </div>
                                                                                </div>
                                                                      </button>
                                                                      <div class="flex mt-5 justify-evenly">
                                                                                <a href="#"
                                                                                          class="ml-2 text-sm text-center transition-all duration-200 cursor-pointer text-slate-800 hover:text-slate-500 hover:-translate-y-1">Don't
                                                                                          Forgot password?</a>
                                                                      </div>
                                                            </div>
                                                  </form>
                                        </div>
                              </div>
                    </div>
          </div>
</body>
